
head {
    margin-top: 100px;
}
body {
    background-color: #ffcba4;
}

.user-home {
    padding: 10px;
    background-color: white;
}
.carousel-slide{
    background-color: white;
}


.alert {
    display: inline-block;
    margin: 10px;
}
.card {
    text-align: center;
    margin: 0 auto;
    margin-top: 50px;
    float: none;
    margin-bottom: 10px;
}

.card .card-img-top{
    margin-top: 15px
}
.container {
    margin-top: 20px;
    margin-bottom: 20px;
}
.signup-login a{
    text-align: right;
}

h1 {
    text-align: center;
}
