.clock {

    display: block;
    text-align: center;
    align-items: center;
}

.work-timer{
    padding: 5px;
    background-color: white;
    display: inline-block;
}
.work-timer p{
    display: inline;
}

.counter h3{
    padding: 5px;
    display : inline;
}
.counter p{
    padding: 5px;
    display :inline-block;
}

.brk-timer{
    padding: 5px;
    background-color: white;
    display: inline-block;
}

.brk-timer p{
    display : inline;
}

.btn{
    margin: 10px;
    display : inline;
}
