.clock {
    display: block;
    text-align: center;
    align-items: center;
}

.work-timer{
    background-color: white;
}
.work-timer p{
    display: inline-block;
}

.counter {
    text-align: center;
    display : inline;
}

.brk-timer{
    background-color: white;
}

.brk-timer p{
    display : inline;
}

.btn{
    margin-top: 10px;
    display : inline;
}
