{% extends "base.html" %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-sm">
    </div>
    <div class="col-sm">
        <h1>Sign in</h1>

        <form method="POST" action="{{ url_for('login')}}" novalidate >
            {{ form.hidden_tag() }}

            <p> {{ form.username.label }} <br>
            {{ form.username(size=32) }}</p>

            <p> {{ form.password.label }} <br>
            {{ form.password(size=32) }}</p>

            <p> {{ form.remember_me.label }} <br>
            {{ form.remember_me() }}</p>

            <ul>
            <a href="/signup">Register for an account</a>
            <p>{{ form.submit() }}</p>
            </ul>
        </form>
    </div>
    <div class="col-sm">
    </div>
  </div>
</div>

{% endblock %}
