{% extends "base.html" %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-sm">
    </div>
    <div class="col-sm">
<h1> Sign up</h1>

<form method="POST" action="{{ url_for('signup')}}" novalidate>
    {{ form.hidden_tag() }}

    <p> {{ form.username.label }} <br>
    {{ form.username(size=32) }}</p>

    <p> {{ form.email.label }} <br>
    {{ form.email(size=32) }}</p>

    <p> {{ form.password.label }} <br>
    {{ form.password(size=32) }}</p>
    <ul>
        <a href="/login">Back to Login</a>
        <p>{{ form.submit() }}</p>
    </ul>
    </div>
    <div class="col-sm">
    </div>
    </div>
</div>
</form>
{% endblock %}
