{% extends "user/user_menu.html" %}

{% block content %}
<!--Code referenced from learn-webdev on youtube-->
<link rel="stylesheet" href="{{ url_for('static', filename='css/pomodoro.css') }}">
<h1>Pomodoro timer</h1>

<div class="clock">
    <!--Work Timer-->

    <div class="work-timer">
        <h3>Work Timer</h3>
        <p>minutes: </p>
        <p id="workmins">25</p>
        <p> seconds: </p>
        <p id="worksecs">0</p>
    </div>

    <div class="counter">
        <h3>Breaks</h3>
        <p id="counter">0</p>
    </div>

    <!--Break Timer-->

    <div class="brk-timer">
        <h3>Break Timer</h3>
        <p>minutes: </p><p id="brkmins">5</p><p> seconds: </p><p id="brksecs">0</p>
    </div>

    <div class="buttons">
        <button id="start" class="btn btn-light">Start</button>
        <button id="pause" class="btn btn-light">Pause</button>
        <button id="reset" class="btn btn-light">Reset</button>
    </div>
</div>


    <script src="{{ url_for('static', filename='js/pomodoro.js') }}"></script>


{% endblock %}
