{% extends "user/user_menu.html" %}
{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/portal.css') }}">

<ul class="nav justify-content-center">
  <li class="nav-item">
    <a class="btn btn-light" href="/notes/render" role="button">Render Markdown Notes</a>
  </li>
  <li class="nav-item">
    <a class="btn btn-light" href="/notes/mark-to-pdf" role="button">Markdown to PDF</a>
  </li>
  <li class="nav-item">
    <a class="btn btn-light" href="/notes/add" role="button">Add Notes</a>
  </li>
  <li class="nav-item">
    <a class="btn btn-light" href="/notes/share" role="button">Share Notes</a>
  </li>
</ul>

<div class="container">
  <div class="row">
    <div class="col-8">
      <h2>My Notes:</h2>
      <ul>
          {% for note in list %}
              {{note}} &nbsp; &nbsp;
          {% endfor %}
      </ul>
    </div>
    <div class ="col-sm">
        <h2>Shared with me:</h2>
        <a href='/notes/view'>View shared notes</a>    <br>    <br>
        <ul>
            {% for note in shareList %}
                {{note}} &nbsp; &nbsp;
            {% endfor %}
        </ul>
  </div>
  </div>
</div>

{% endblock %}
