<!DOCTYPE HTML>
<html>
    <head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/pomodoro.css') }}">
	<a href="/">
        <h1>Study Helper</h1>
    <a>
    </head>
    <body>
        <p>Welcome to Study Helper!<p>
            <p>If you want to use Study Helper, Login or Sign up
        </p>
        <!--User Menu-->
        {% if current_user.is_authenticated %}
            {% block menu %}
            {% endblock %}
        {% endif %}
    <!--Flashed Messages-->
	{% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for m in messages %}
            <li>{{ m }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
    <!--Webpage Content-->
	{% block content %}
	{% endblock %}
    <!--adding Search textboxes-->
    <div class="search">
        <form class="form-inline my-2 my-lg-0" method="GET">
            <input class="form-control mr-sm-2"
            type="search" placeholder="Search" name="q">
            <button class="btn btn-outline-success my-2 my-sm-0"
            type="submit">Search</button>
        </form>
    </div>
  
    </body>
</html>
