<!DOCTYPE HTML>
<html>
    <head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/pomodoro.css') }}">
	<h1>Study Helper</h1>
    </head>
    <body>
        <!--User Menu-->
        {% if current_user.is_authenticated %}
            {% block menu %}
            {% endblock %}
        {% endif %}
    <!--Flashed Messages-->
	{% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for m in messages %}
            <li>{{ m }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
    <!--Webpage Content-->
	{% block content %}
	{% endblock %}
    </body>
</html>
