{% extends "user_menu.html" %}
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/pomodoro.css') }}">
</head>
{% block content %}
<!--Code referenced from learn-webdev on youtube-->

<h1>Pomodoro timer</h1>

<div class="clock">
    <!--Work Timer-->
    <h3>Work Timer</h3>
    <div class="work-timer">
        <p>minutes: </p><p id="workmins">25</p><p> seconds: </p><p id="worksecs">0</p>
    </div>

    <div class="counter">
        <h3>Breaks</h3>
        <p id="counter">0</p>
    </div>

    <!--Break Timer-->
    <h3>Break Timer</h3>
    <div class="brk-timer">
        <p>minutes: </p><p id="brkmins">5</p><p> seconds: </p><p id="brksecs">0</p>
    </div>
    <button id="start" class="btn">Start</button>
    <button id="pause" class="btn">Pause</button>
    <button id="reset" class="btn">Reset</button>
    <button id="skip" class="btn">Skip</button>
</div>


    <script src="{{ url_for('static', filename='js/pomodoro.js') }}"></script>


{% endblock %}
