{% extends "user/user_menu.html" %}
{% block content %}
<h3>{{ name }}</h3>
<a href="/flashcard">Back</a>
<a href="/flashcard/add/{{ name }}-{{ id }}">Add flashcards</a>
<a href="/flashcard/delete/{{ name }}-{{ id }}">Remove flashcards</a>
<a href="/flashcard/edit/{{ name }}-{{ id }}">Edit flashcards</a>

<ul>
{% for cards in list %}
    <li>{{ cards }}</li>
{% endfor %}

</ul>
<!-- Button for print or make it pdf -->
<div>
    <button onclick="window.print();"> Print </h4>
</div>
{% endblock %}
